# https://vector.dev/docs/reference/configuration/sinks/elasticsearch/
[transforms.parse_json]
type = "remap"
inputs = ["pipe"]
source = """
  message = parse_json!(.message)
  .timestamp = message.date
  .source_type = message.stream
  .labels = message.labels
  .message = message.msg
"""
[sinks.elastic]
type = "elasticsearch"
inputs = ["parse_json"]
auth.strategy = "basic"
auth.user = "${ELASTICSEARCH_USER:?ELASTICSEARCH_USER must be set}"
auth.password = "${ELASTICSEARCH_PASSWORD:?ELASTICSEARCH_PASSWORD must be set}"
endpoints = ["${ELASTICSEARCH_ENDPOINT:?ELASTICSEARCH_ENDPOINT must be set}"]
